body {
	background:#8c66ff;
}

.contentArea {
	margin-left:25%;
	margin-right:30%;
	width:40%;
	padding:5%;
	background:#e6e6ff;
}

.banner {
	width:100%;
	border-style:solid;
	border-color:#c61aff;
	margin-bottom:30px;
}

.article {

	background:white;
	border-style:solid;
	border-color:#c61aff;
	border-width:2px;
	margin-left:30px;
}

p, h3 {
	font-family: Georgia, serif;
	color:#0F1108;
}

h3 {
	border-bottom-style:solid;
	border-bottom-width:1px;
	margin-left:20px;
}

p {
	margin:10px;
}

a:link {
	color:#241909;
}

a:hover {
	color:#c61aff;
}