body {
	background-color: black;
}

div {
	float:left;
	padding:5px;
	width:45%;
	overflow:auto;
}

p {
	font-family: Verdana, Helvetica, sans-serif;
	color:white;
}

.leftfloater {
	padding-right:15px;
	float:left;
}

.rightfloater {
	padding-left:15px;
	float:right;
}
