<html>
<head>
	<title>Form!</title>
</head>
<body>
<form action="/formdata" method="POST">
	<label for="username" id="usernameLabel">Username:</label><br/>
	<input type="text" placeholder="Your username here" name="username" id="username"/><br/>    

	<label for="email"  id="amountLabel">E-mail:</label><br/>
	<input type="text" placeholder="e.g. john@mail.com" name="email" id="email"/>
			
	<br/><br/>
			
	<input type="submit" value="Submit">
</form>
</body>
</html>
