<html>
<head>
	<title>Formdata!</title>
</head>
<body>
	<h3>The data you submitted was:</h3>
	<ul>
		<li>Username: <%=username%></li>
		<li>E-mail: <%=email%></li>
		<li>Age: <%=age%></li>
	</ul>
</body>
</html>
