<html>
<head>
	<title>Jsondata!</title>
</head>
<body>
	<h3>The data you submitted (in json) was:</h3>
	<ul>
		<li>Your pet's name: <%=name%></li>
		<li>Species: <%=species%></li>
		<li>Favourite toy: <%=toy%></li>
	</ul>
</body>
</html>
